{% extends 'base.html.twig' %}
{# On affiche dans cette vue, un formulaire pour créer une activité.#}

{% block body %}
<br><h1>
{% if new %}
    Création d'une nouvelle activité
{% else %}
    Modification de l'activité "{{nom}}"
{% endif %}</h1><br>
    {{ form_start(formActivity)}}



    {{ form_end(formActivity)}}
{% endblock %}