<h1>Liste des activités &nbsp;&nbsp; <button class="btn btn-primary" (click)="addActivity()" >Ajouter activité</button></h1>

<ul class="list-group">
    <li *ngFor="let activity of activities" class="list-group-item d-flex justify-content-between align-items-center">
               <span *ngIf="activity.muscle!=null" class="badge badge-primary badge-pill">
                  {{activity.muscle.nameOfMuscle}}
                </span><span *ngIf="activity.muscle==null" class="badge badge-primary badge-pill">
                    Pas encore de muscle renseigné
                  </span>
                <h2>{{ activity.title }} <small>difficulté: {{activity.difficult}} &nbsp;&nbsp; durée: {{activity.duration}}</small></h2> 
                <img src="{{activity.image}}" height="180px"/>
              
                <h4>{{getShort(activity.description)}}</h4>
                <button class="btn btn-info btn-lg" (click)="detailActivity(activity.id)" >Voir le détail de l'activité</button>&nbsp;
                <button class="btn btn-success btn-lg" (click)="editActivity(activity.id)" >Editer</button>&nbsp;
                <button class="btn btn-danger btn-lg" (click)="deleteActivity(activity.id)" >Supprimer</button>
        </li>
    </ul>
