<h1>Création d'un muscle</h1>

<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Créez votre muscle </h5>
        
      </div>
      <div class="modal-body">
        <p>Nom du muscle: <input type="text" [(ngModel)] = "muscle.nameOfMuscle" placeholder="nom du muscle"><br>
            Extra Explication: <input type="text" [(ngModel)] = "muscle.ExtraExpl" placeholder="explication supplémentaire"><br>
            Image (url): <input type="url" [(ngModel)] = "muscle.image" placeholder="image (url)"><br>
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addMuscle()">Enregistrer</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="back()">Retour</button>
      </div>
    </div>
  </div>


