
<h1>Création d'un moment</h1>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Créez votre moment </h5>
            
          </div>
          <div class="modal-body">
            <p>Date: <input type="date" [(ngModel)] = "day.date"  ><br>
                Activité: <select [(ngModel)] = "day.activity.title" ><option selcted=true value=null>Pas d'activité particulière</option> <option  *ngFor="let activity of activities" value={{activity.title}}>{{activity.title}}</option> </select>
                </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="addDay()">Enregistrer</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="back()">Retour</button>
          </div>
        </div>
      </div>
