<div><h1> Création d'une activité </h1>

<input type="text" [(ngModel)] = "activity.title" placeholder="titre"><br>
<input type="text" [(ngModel)] = "activity.description" placeholder="description"><br>
<input type="url" [(ngModel)] = "activity.image" placeholder="url de l'image"><br>
<input type="int" [(ngModel)] = "activity.duration" placeholder="durée"><br>
<input type="int" [(ngModel)] = "activity.difficult" placeholder="difficulté (1 à 5)"><br>
<input type="text" [(ngModel)] = "activity.author" placeholder="auteur"><br>
<input type="text" [(ngModel)] = "activity.material" placeholder="materiel"><br>
<select [(ngModel)] = "activity.muscle" ><option selcted=true value=null>Pas de catégorie particulière</option> <option  *ngFor="let muscle of muscles" value={{muscle}}>{{muscle.nameOfMuscle}} et {{muscle.id}}</option> </select>
<button (click)="addActivity()">Enregistrer</button></div>
