<h1>Liste des muscles  &nbsp;&nbsp; <button class="btn btn-primary" (click)="addMuscle()" >Ajouter muscle</button></h1>

<ul class="list-group">
<li *ngFor="let muscle of muscles" class="list-group-item d-flex justify-content-between align-items-center">
           <span class="badge badge-primary badge-pill">
              {{getLength(muscle.activities)}}
            </span>
            <h2>{{ muscle.nameOfMuscle}}<img src="{{muscle.image}}" height="40px"/></h2> 
           
          
            <h4>{{getShort(muscle.ExtraExpl)}}</h4>
    
    <button class="btn btn-info" (click)="detailMuscle(muscle.id)" >Voir le détail suite</button>
    <button class="btn btn-success" (click)="editMuscle(muscle.id)" >Editer</button>
    <button class="btn btn-warning" (click)="deleteMuscle(muscle.id)" >Supprimer</button>
    </li>
</ul>